/capstone-app/target/classes/
/capstone-app/target/generated-sources/
/capstone-app/target/generated-test-sources/
/capstone-app/target/maven-archiver/
/capstone-app/target/maven-status/
/capstone-app/target/surefire-reports/
/capstone-app/target/test-classes/
/.idea/
