/amazon-web-services-architecture-solution-lrg.webp
/architecture.png
/AWS-Architecture-Icons-Deck_For-Dark-BG_01312023.pptx
/AWS-Architecture-Icons-Deck_For-Light-BG_01312023.pptx
/Capstone.iml
/.idea/
/__MACOSX/
/.idea/
